.search-result {
  --searchResultPaddingX: 1em;
  --searchResultPaddingY: 0.75em;
  --searchResultTransitionTiming: 0.1s;

  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: var(--searchResultPaddingY) var(--searchResultPaddingX);
  position: relative;
  transition: box-shadow var(--searchResultTransitionTiming),
    margin var(--searchResultTransitionTiming),
    padding var(--searchResultTransitionTiming);
  width: 100%;
}

.search-result:first-child {
  margin-top: 0;
}

.search-result:last-child {
  margin-bottom: 0;
}

.search-result:hover {
  box-shadow: 10px 10px 40px 6px rgba(0, 0, 0, 0.5);
  margin: 0 0.1em;
  --searchResultPaddingX--Hover: 1.1em;
  padding: var(--searchResultPaddingY) var(--searchResultPaddingX--Hover);
}

.search-result:hover + .bottom-border {
  opacity: 0;
}

.search-result__image {
  margin-right: 1em;
}

.search-result__name {
  color: var(--skillColor);
  margin: 0 1em 0 0;
  max-width: 125px;
  min-width: 125px;
  text-transform: uppercase;
}

.search-result__description {
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-result__list-title {
  margin: 0;
  padding: 0;
}

.search-result__list {
  list-style-type: disc;
  margin-top: 0;
  padding-inline-start: 30px;
}

.search-result__cure {
  text-transform: capitalize;
}

.search-result__cure.is-result {
  color: var(--skillColor);
}

.search-result__name-container {
  align-items: center;
  display: flex;
}
